.theme-T {
    background-image: url('/src/assets/acertijo.jpg');
    background-attachment:fixed;
    background-size: 100px 100px;
}

.bannerQ {
    background-image: url('../assets/bannerQuiz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}